<main role="main" style="margin-bottom: 80px;">
  <div *ngIf="user" class="container">
    <form [formGroup]="updateForm" (ngSubmit)="update()">
      <fieldset>
        <legend>Şifre Güncelle</legend>
        <div class="form-group">
          <input type="password" id="password" name="password" formControlName="password" class="form-control"
            placeholder="Şifre">                    
          <div *ngIf="updateForm.get('password').hasError('required') && updateForm.get('password').touched"
            class="alert alert-danger">Şifre gerekli</div>
        </div>
        <div class="form-group">
          <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" class="form-control"
            placeholder="Yeni Şifre">
          <div *ngIf="updateForm.get('newPassword').hasError('required') && updateForm.get('newPassword').touched"
            class="alert alert-danger">Yeni şifre gerekli</div>
          <div *ngIf="updateForm.get('newPassword').hasError('minlength') && updateForm.get('newPassword').touched"
            class="alert alert-danger">Şifre en az 4 karakter olmalıdır</div>
        </div>
        <div class="form-group">
          <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
            class="form-control" placeholder="Yeni Şifre Tekrar">
            <div *ngIf="updateForm.get('confirmPassword').hasError('required') && updateForm.get('confirmPassword').touched"
            class="alert alert-danger">Şifre doğrulama gerekli</div>
            <div *ngIf="updateForm.get('confirmPassword').touched && updateForm.hasError('mismatch')"
            class="alert alert-danger">Şifreler uyumsuz</div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" [disabled]="!updateForm.valid" type="submit">Güncelle</button>
      </fieldset>
    </form>
  </div>
</main>